.key_img
%h4.primero SÉ EL PRIMERO EN CONOCERLO
= simple_form_for @user, html: {novalidate: false, class: "form-inline"} do |f|
	= f.input :email, as: :email, label: false, placeholder: "Tu correo electrónico", input_html: {required: true}
	= f.button :submit, "ENTRAR", class: "btn btn-branded"
