#social-sharing
	%ul.contact-socials.clearfix
		%li.mobileonly
			%a.foo_social.ico-whatsapp{:href => @user.social_url("whatsapp"), target: "_blank"}
				%i.fa.fa-whatsapp
		%li
			%a.foo_social.ico-facebook{:href => @user.social_url("facebook"), target: "_blank"}
				%i.fa.fa-facebook-official
		%li
			%a.foo_social.ico-twitter{:href => @user.social_url("twitter"), target: "_blank"}
				%i.fa.fa-twitter
		%li
			%a.foo_social.ico-linkedin{:href => @user.social_url("linkedin"), target: "_blank"}
				%i.fa.fa-linkedin
		%li
			<button data-clipboard-target="#referalllink" class="btn">Copia tu liga</button>
			:javascript
				var clipboard = new Clipboard('.btn');
				clipboard.on('success', function(e) {
					console.info('Action:', e.action);
					console.info('Text:', e.text);
					console.info('Trigger:', e.trigger);
					e.clearSelection();
				});

				clipboard.on('error', function(e) {
					console.error('Action:', e.action);
					console.error('Trigger:', e.trigger);
				});
