%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover
		%h1.cover-title INVICTUS PRÓXIMAMENTE
		%h3.cover-subtitle REDUCE Y CONTROLA TU GASTO DE LUZ PARA SIEMPRE…
		%h3.cover-subtitle DESDE AHORITA.
		.last-box
			#form-wrapper
				= render "form"
				%small * We promise no spam, cause we hate spam
