.banner{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.caption
		%h1.title UN NUEVO INVICTUS PRÓXIMAMENTE
		%h3.subtitle REDUCE Y CONTROLA TU GASTO DE LUZ <br>PARA SIEMPRE… DESDE AHORITA.
.bottom
	#key_img
	= render "form"
