.banner{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.caption
		%h1.title TU NUEVO PROVEEDOR DE LUZ
		%h3.subtitle REDUCE Y CONTROLA TU GASTO DE LUZ PARA SIEMPRE...<br/>DESDE AHORITA.
.bottom
	#key_img
	= render "form"
	#dinocenter
