.banner{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.caption
		%h1.title UN NUEVO INVICTUS PRÓXIMAMENTE
		%h3.subtitle CAMBIA DE PROVEEDOR…DESDE AHORITA.
.bottom
	#key_img
	= render "form"
	#dinocenter
