#prizes {
  border-top: 5px solid #BCBCBC;
  position: relative;
	color: #333;
	font-family: "futura-pt";
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: calc(80% - 40px);

}

.progressbar {
    height: 5px;
    top: -5px;
    position: absolute;
    left: 0px;
    width: 0px;
    z-index: 100;
    background: rgb(116, 71, 68);

}

.progress-box {
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    right: 0px;
    top: -2.5px;
    border-radius: 50%;
    background: rgb(116, 71, 68);
}

#prizes .prize-number > span{
  display: none;
}
#prizes .prize {
    position: relative;
    float: left;
    width: 80%;
    margin-top: 15px;
}

#prizes .prize-number {

    position: absolute;
    top: -60px;
    width: 70px;
    height: 30px;
    left: calc(45% - 15px);
    font-weight: bold;

    color: rgb(31, 31, 31);
    cursor: auto;
    font-family: "europa";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19.2px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;

}

#prizes .prize-name {
    color: rgb(31, 31, 31);
cursor: auto;
font-family: "europa";
font-size: 12px;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
line-height: 19.2px;
margin-bottom: 0px;
margin-top: 0px;
text-align: center;

}


#prizes .active-prize .prize-name{
    color: rgb(255, 111, 0);
}

#prizes .active-prize .prize-number{
    color: rgb(255, 111, 0);
}


#prizes img{
    border: 3px solid #E9E9E9;
    top: -330px;
    position: absolute;
    display: none;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#prizes .prize:hover img, #prizes .prize:focus img, #prizes .prize:active img{
    display: block;
}

#footer {
    width: 100%;
    bottom: 0px;
    margin-top: 30px;
	margin-bottom: 0px;
	height: auto;
	text-align: center;
    display: inline-block;
}

#footer p{
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: "futura-pt";
    width: auto;
    text-transform: none;
}

#footer a{
    font-size: 12px;
    color: #333;
    font-weight: 400;
    font-family: "futura-pt";
}

@media screen and (max-width: 767px){
    #prizes .prize-number {
        width: 90px;
        height: 40px;
        line-height: 40px;
        left: calc(50% - 45px);
        top: -55px !important;
        font-size: 14px;
        background: rgb(116, 71, 68);
        color: #FFF;
    }


    #prizes .prize-number > span{
        display: inline;
    }

    #prizes img{
      display: block;
      position: static;
    }

    #prizes .prize:first-child{
        margin-left: 0;
    }



    #prizes{
      margin-bottom: 0;
    }

    #prizes .prize{
      width: 100%;
      margin-top: 90px;
    }

    #prizes {
        margin: 50px 20px;
      width: calc(100% - 40px);
    }


}
