.whitebg{
	background-color: rgb(255, 255, 255);
	h1{
	  color: rgb(255, 111, 0);
	  cursor: auto;
	  font-family: "futura-pt","Raleway",sans-serif;
	  font-size: 31px;
	  font-style: normal;
	  font-weight: 500;
	  letter-spacing: 1px;
	  line-height: 37.2px;
	  margin-bottom: 15.5px;
	  margin-left: 0px;
	  margin-right: 0px;
	  margin-top: 31px;
	  text-align: center;
	}
	h2{
	  color: rgb(30, 79, 106);
	  font-family: "futura-pt","Raleway",sans-serif;
	  font-size: 20px;
	  font-style: normal;
	  font-weight: 500;
	  letter-spacing: 1px;
	  line-height: 24px;
	  margin-bottom: 10px;
	  margin-left: 0px;
	  margin-right: 0px;
	  margin-top: 0px;
	  text-align: center;

	}
	h3{
	  color: rgb(255, 111, 0);
	  font-family: "futura-pt","Raleway",sans-serif;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 500;
	  letter-spacing: 1px;
	  line-height: 19.5px;
	  margin-bottom: 7.5px;
	  margin-left: 0px;
	  margin-right: 0px;
	  margin-top: 0px;
		text-align: center;
	}
	p{
	  color: rgb(27, 27, 27);
	  font-family: "europa","Josefin Sans",sans-serif;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 400;
	  letter-spacing: 1px;
	  line-height: 19.2px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  margin-right: 0px;
	  margin-top: 0px;
	  text-align: center;
	}
}

#refer{
	height: 400px;
  background-color: rgb(237, 236, 234);
	top: 0px;
	width: 100%;
	display: table;
	padding-top: 30px;
	margin-bottom: 50px;
	background-size: cover;
  border-bottom-style: inset;
  border-bottom-color: rgb(136, 136, 136);
  border-bottom-width: thin;
	h1{
		color: rgb(255, 255, 255);
	}
	h2{
		color: rgb(30, 79, 106);
	}
	p{
		color: rgb(255, 255, 255);
	}
}
#refer strong{
  text-transform: uppercase;
}



#refer input {
		font-weight: bold;
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 85%;
    margin: 10px 0px 25px 50px;
    text-align: center;
    line-height: 30px;
    color: rgb(98,98,98);
    cursor: auto;
    font-family: "futura-pt", 'Raleway', sans-serif;
}



#social-sharing {
    text-align: center;
    margin-top: 30px;
		margin-bottom: 10px;
}

.contact-socials {
    display: inline-block;
}

.contact-socials li {
    padding: 0px 15px;
    float: left;
    transition: all 250ms ease-in-out 0s;
    text-align: center;
    border-right: 1px solid white;
}

.contact-socials li:last-child{
	border: none;
}

.ico-facebook {
    color: #FFF;
}

.ico-facebook:hover{
	color: #3B5998;
	opacity: 0.8;
}

.contact-socials i.fa {
    font-size: 30px
}

.ico-twitter {
    color: #FFF;
}

.ico-twitter:hover{
	 color: #00A9ED;
	 opacity: 0.8;
}

.ico-linkedin{
	color: #FFF;
}

.ico-linkedin:hover{
	color: #337ab7;
	opacity: 0.8;

}

.ico-whatsapp{
	color: #FFF;
}

.ico-whatsapp:hover{
	color: rgb(78, 234, 45);
	opacity: 0.8;

}

.bside{
  cursor: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

	#extrabold{
		font-size: 16px;
		font-weight: 600;
	}
	.mobileonly{
		display: none;
	}




.bside #asifunciona{

text-rendering: optimizelegibility;
text-transform: uppercase;
padding-bottom: 15px;

}

.bside strong {
  color: rgb(116, 71, 68);
}


#dino-top-left {
  width: 100%;
  height: 210px;
  background: image-url("dino.png") center center no-repeat;
  margin: 0 0 0 0;
}


.prov {
  width: 825px;
  color: rgb(125, 125, 125);
  cursor: auto;
  font-family: "futura-pt", 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 9px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 18px;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  -moz-osx-font-smoothing: auto;
}
#ifrmamesq {
  width: 100%;
  height: 1800px;
  float: center;
	border-top-color: #D3D3D3;
	border-top-width: thin;
	border-bottom: none;
	border-right: none;
	border-left: none;
}




@media screen and (max-width: 980px){


  #refer article p.small {
    display: none;
  }

  #refer figcaption {
    display: block;
  }


    #refer input {
      height: 30px;
      font-size: 19px;
      margin-top: 10px;
      line-height: 30px;
    }

    #refer figcaption{
      margin-top: 10px;
    }


    #refer h2 {
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 15px;
    }


}

@media screen and (max-width: 850px){




  #refer input {
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}


@media screen and (max-width: 800px){



  .refer-left {
    padding: 0;
  }

  #refer input {
    height: 30px;
    font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}

@media screen and (max-width: 768px){

  #text-left h1{
    font-size: 8px;
    font-weight: normal;

  }

  #text-left p{

  }

  #refer input {
    height: 28px;
    font-size: 17px;
    margin-top: 15px;
    line-height: 28px;
  }


  #refer p{
    line-height: 1.15;
  }

}

@media screen and (max-width: 767px){

  #reinforcement p{
    text-align: center;
  }

  #copy h1, #copy h3, #refer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


  #refer input{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  #refer p {
    font-size: 17px;
  }

  #refer h1 {
    font-size: 30px;
    margin: 15px auto 5px;
  }
	#copy{
		margin-top: 70px;
	}
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		padding-bottom: 50px;
		width: 600px;
		height: 30px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}
	.hidemobile{
		display: none;
	}
	.mobileonly{
		display: inline !important;
	}
}

@media screen and (max-width: 600px){
  .cover {
    padding: 0 5px;
  }

    .cover-heading {
    font-size: 5vw;
  }



}

@media screen and (max-width: 500px){
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		width: 300px;
		height: 15px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}

  #prizes{
  	margin: 20px 20px;
  }
	#copy{
		margin-top: 50px;
	}


}



@media screen and (max-width: 450px){
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		width: 300px;
		height: 15px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}

	#copy{
		margin-top: 50px;
	}
  .contact-socials li {
    padding: 0px 10px;
  }

}

@media screen and (max-width: 420px){
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		width: 300px;
		height: 15px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}
	#copy{
		margin-top: 50px;
	}
#refer h1 {
    font-size: 27px;
  }

  #refer p {
    font-size: 15px;
  }

  #refer figcaption p {
    font-size: 14px;
  }

}

@media screen and (max-width: 360px){
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		width: 2500px;
		height: 15px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}
	#noshow{display: none;}
	#copy{
		padding-top: 45px;
	}
	.mobileonly{
		display: inline;
	}
	.mobileonly{
		display: inline !important;
	}

  #refer h1 {
    font-size: 27px;
  }

    .cover-heading {
    font-size: 25px;
  }




  #refer p {
    font-size: 15px;
  }

  #refer figcaption p {
    font-size: 14px;
  }

}



@media screen and (max-width: 320px){
	#spacer{
		box-sizing: border-box;
		margin-left: 20px;
		width: 200px;
		height: 15px;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}

	#copy{
		padding-top: 40px;
	}
  .contact-socials i.fa {
      font-size: 25px;
  }


}

@media screen and (max-width: 300px){

    .contact-socials li {
      padding: 0 5px;
  }

  .contact-socials i.fa {
      font-size: 22px;
  }


}
